In [5]:
import connection

In [12]:

import pandas as pd
import os
# from pandas_profiling import ProfileReport
# import matplotlib

pd.set_option('display.max_columns', 13)
pd.set_option('display.width', 1000)
# # df = pd.read_csv('./CSV/2021-05.csv')

# PATH = './CSV/'

# # files = os.listdir('D:/Projektit/Koodausprojekteja/SolitaDevAcademy/back/internal/ETL/CSV')

# files = os.listdir('./CSV/')



# df = pd.DataFrame()

# datecols = ['Departure','Return']

# for f in files:
#     df_tmp = pd.read_csv(PATH+f,parse_dates=datecols)
#     # print(len(df_tmp))
#     df = pd.concat([df, df_tmp])
    
#     # print(len(df))


# df = df[(df['Covered distance (m)'] >= 10) & (df['Duration (sec.)'] >= 10)]
# df = df.drop_duplicates(keep='first').reset_index(drop=True)

# # profile = ProfileReport(df, title="Helsinki city bike dataset")

# # profile.to_file("soldev_data_report.html")


df = pd.read_csv('station_details.csv')
column_names = ['FID','station_id','name', 'name_swe','name_eng','address','address_swe','city','city_swe','operator','capacity','x','y']

df = df.set_axis(column_names, axis='columns')
print(df)

     FID  station_id            name                   name_swe                  name_eng               address          address_swe   city city_swe          operator  capacity          x          y
0      1         501       Hanasaari                 Hanaholmen                 Hanasaari     Hanasaarenranta 1  Hanaholmsstranden 1  Espoo     Esbo  CityBike Finland        10  24.840319  60.165820
1      2         503      Keilalahti                 Kägelviken                Keilalahti      Keilalahdentie 2     Kägelviksvägen 2  Espoo     Esbo  CityBike Finland        28  24.827467  60.171524
2      3         505  Westendinasema           Westendstationen            Westendinasema        Westendintie 1       Westendvägen 1  Espoo     Esbo  CityBike Finland        16  24.805758  60.168266
3      4         507       Golfpolku                 Golfstigen                 Golfpolku           Golfpolku 3         Golfstigen 3  Espoo     Esbo  CityBike Finland        16  24.796136  60.168143
4      5         509   Revontulentie             Norrskensvägen             Revontulentie      Revontulentie 10    Norrskensvägen 10  Espoo     Esbo  CityBike Finland        30  24.802938  60.171551
..   ...         ...             ...                        ...                       ...                   ...                  ...    ...      ...               ...       ...        ...        ...
452  453         401  Koivusaari (M)  Björkholmens metrostation  Koivusaari metro station           Sotkatie 11      Dykandsvägen 11                                          16  24.855164  60.163386
453  454         402    Bermudankuja             Bermudagränden             Välimerenkatu       Atlantinkatu 10       Atlantgatan 10                                          16  24.910142  60.154904
454  455         403     Verkkosaari                  Nätholmen               Verkkosaari      Tukkutorinkuja 3    Partitorgsgränden                                          20  24.977548  60.189556
455  456         404      Sompasaari                    Sumparn                Sompasaari  Sompasaarenlaituri 2        Sumparkajen 2                                          14  24.976076  60.182931
456  457         405          Jollas                     Jollas                    Jollas       Jollaksentie 33       Jollasvägen 33                                          16  25.061668  60.164407

[457 rows x 13 columns]

     FID   ID            Nimi                       Namn                      Name                Osoite               Adress Kaupunki  Stad        Operaattor  Kapasiteet          x          y
0      1  501       Hanasaari                 Hanaholmen                 Hanasaari     Hanasaarenranta 1  Hanaholmsstranden 1    Espoo  Esbo  CityBike Finland          10  24.840319  60.165820
1      2  503      Keilalahti                 Kägelviken                Keilalahti      Keilalahdentie 2     Kägelviksvägen 2    Espoo  Esbo  CityBike Finland          28  24.827467  60.171524
2      3  505  Westendinasema           Westendstationen            Westendinasema        Westendintie 1       Westendvägen 1    Espoo  Esbo  CityBike Finland          16  24.805758  60.168266
3      4  507       Golfpolku                 Golfstigen                 Golfpolku           Golfpolku 3         Golfstigen 3    Espoo  Esbo  CityBike Finland          16  24.796136  60.168143
4      5  509   Revontulentie             Norrskensvägen             Revontulentie      Revontulentie 10    Norrskensvägen 10    Espoo  Esbo  CityBike Finland          30  24.802938  60.171551
..   ...  ...             ...                        ...                       ...                   ...                  ...      ...   ...               ...         ...        ...        ...
452  453  401  Koivusaari (M)  Björkholmens metrostation  Koivusaari metro station           Sotkatie 11      Dykandsvägen 11                                           16  24.855164  60.163386
453  454  402    Bermudankuja             Bermudagränden             Välimerenkatu       Atlantinkatu 10       Atlantgatan 10                                           16  24.910142  60.154904
454  455  403     Verkkosaari                  Nätholmen               Verkkosaari      Tukkutorinkuja 3    Partitorgsgränden                                           20  24.977548  60.189556
455  456  404      Sompasaari                    Sumparn                Sompasaari  Sompasaarenlaituri 2        Sumparkajen 2                                           14  24.976076  60.182931
456  457  405          Jollas                     Jollas                    Jollas       Jollaksentie 33       Jollasvägen 33                                           16  25.061668  60.164407

[457 rows x 13 columns]

In [2]:

df2 = df[['Departure station id', 'Departure station name', 'Return station id', 'Return station name']]

df = df.drop(columns=['Departure station name','Return station name'])

names = ['departure', 'arrival', 'departure_station_id', 'return_station_id', 'covered_distance_m','duration_s']


df = df.set_axis(names, axis=1)

In [12]:


df_2 = df2[['Departure station id','Departure station name']]
df_22 = df2[['Return station id', 'Return station name']]

names_ = ['station_id', 'name']

df_2.set_axis(names_, axis=1, inplace=True)
df_22.set_axis(names_, axis=1, inplace=True)

df_station = pd.concat([df_2,df_22]).drop_duplicates(keep='first').sort_values('station_id').reset_index(drop=True)

print(df_station)

     station_id                 name
0             1          Kaivopuisto
1             2      Laivasillankatu
2             3   Kapteeninpuistikko
3             4            Viiskulma
4             5            Sepänkatu
..          ...                  ...
454         900           Orionintie
455         901              Outotec
456         902  Derby Business Park
457         997    Workshop Helsinki
458         999      Bike Production

[459 rows x 2 columns]